[submodule "SupFront"]
	path = SupFront
	url=http://shelterfuture.com/gogs/wangjunyi/SupFront.git
	
[submodule "SupFrontWeb"]
	path = SupFrontWeb
	url = http://shelterfuture.com/gogs/wangjunyi/SupFrontWeb.git
[submodule "SupBack"]
	path = SupBack
	url = http://shelterfuture.com/gogs/wangjunyi/SupBack.git
	branch = master
