[submodule "SupBack"]
	path = SupBack
	url = https://github.com/lingchuL/SupBack.git
[submodule "SupFront"]
	path = SupFront
	url = https://github.com/lingchuL/SupFront.git
	
[submodule "SupFrontWeb"]
	path = SupFrontWeb
	url = http://shelterfuture.com/gogs/wangjunyi/SupFrontWeb.git
	branch = master
